<template>
    <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
    >
        <template v-slot:activator="{ on }">

            <v-bottom-navigation
                    v-model="bottomNav"
                    grow
            >
                <v-btn v-on="on" horizontal :value="'calendar'">
                    <!--                    <span>{{followingMonday.getDate() }} /{{ followingMonday.getMonth()}}</span>-->
                    <v-icon>mdi-calendar</v-icon>
                    <!--
                                        <span>{{previousMonday.getDate()}} / {{ previousMonday.getMonth()}}</span>
                    -->
                </v-btn>

                <v-btn value="previous" @click="prevWeek(date)">
                    <span>Previous Week</span>
                    <v-icon small>mdi-arrow-left-drop-circle-outline</v-icon>
                </v-btn>
                <v-btn v-for="(day, index) in showDays" :key="day.name" :value="index"
                       :color="selectDay === index ? 'grey darken-1' : 'grey darken-3'"
                >
                    <v-chip :color=" day.events === 0 ? 'grey darken-3' : 'blue darken-3'">{{day.events}}</v-chip>
                    <span>{{day.date.format('MMM')}} {{day.date.format('DD')}}</span>
                    <span>{{day.date.format('dd')}} </span>


                </v-btn>

                <v-btn value="next" @click="nextWeek(date)">
                    <span>Next Week</span>
                    <v-icon small>mdi-arrow-right-drop-circle-outline</v-icon>
                </v-btn>

            </v-bottom-navigation>

        </template>

        <v-date-picker v-model="calendarDate" @input="menu = false"></v-date-picker>
    </v-menu>

</template>

<script>

    import {mapGetters, mapActions} from 'vuex'

    import moment from 'moment'

    export default {
        components: {},
        data: () => ({
            dateFormatted: "",
            menu: false,
            days: [
                {name: "Monday", num: 1},
                {name: "Tuesday", num: 2},
                {name: "Wednesday", num: 3},
                {name: "Thursday", num: 4},
                {name: "Friday", num: 5},
                {name: "Saturday", num: 6},
                {name: "Sunday", num: 7}
            ],
            selectDay: 4,
            bottomNav: "",
            calendarDate: ""
        }),
        methods: {
            ...mapActions({
                modifyDate: 'modifyDate',
                modifyLastMonday: 'modifyLastMonday',
            }),
            previousMonday(date) {
                return date.startOf('isoWeek')
            },
            prevWeek(currentDay) {
                let dayBeforeAfter = currentDay.subtract(1, 'week')
                this.modifyDate(dayBeforeAfter)
                this.modifyLastMonday(this.previousMonday(dayBeforeAfter))
            },
            nextWeek(currentDay) {
                let dayWeekAfter = currentDay.add(1, 'week')
                this.modifyDate(dayWeekAfter)
                this.modifyLastMonday(this.previousMonday(dayWeekAfter))
            },
        },
        computed: {

            ...mapGetters({
                events: 'getEvents',
                date: 'getDate',
                prevMonday: 'getPrevMonday'
            }),
            showDays() {

                let events = this.events.map(event => {
                    event.day = moment(event.dateStart).isoWeekday()
                    return event
                })

                return this.days.map((day, index) => {
                    day.events = events.filter(event => event.day === day.num).length
                    day.date = moment(this.prevMonday).add(index, 'days')
                    return day
                })
            },
        },
        watch: {
            bottomNav(value) {
                if (!isNaN(Number(value))) {
                    this.selectDay = value
                    this.modifyDate(this.days[value].date)
                }
            },
            calendarDate(value) {
                let changeToDate = moment(value)

                if (changeToDate.isSame(this.date, 'isoWeeks')) {
                    this.modifyDate(changeToDate)
                    let dayIsShown = this.days.filter(day => day.date.isSame(changeToDate, 'day'))[0]
                    this.selectDay = dayIsShown.num - 1

                } else {
                    this.modifyDate(changeToDate)
                    this.selectDay = changeToDate.isoWeekday() - 1
                    this.modifyLastMonday(changeToDate.startOf('isoWeek'))
                }

            }
        },
        mounted() {
            this.selectDay = this.date.isoWeekday() - 1
        }
    };


</script>

<style scoped>

    .v-chip {
        margin-top: 4px;
        font-size: 12px;
        height: 14px;
    }

</style>
