<template>


    <v-list>
        <v-list-item>
            <v-autocomplete
                    color="light-green accent-3"
                    autocomplete="new-password"
                    v-model="selectedCountry"
                    :items="zones"
                    item-text="country"
                    item-value="isoCode"
                    id="isoCode"
                    label="Country"
                    hide-details
                    single-line
                    dense
                    filled
                    rounded

            >
            </v-autocomplete>

        </v-list-item>

        <v-spacer/>

        <v-list-item>
            <v-autocomplete
                    utocomplete="new-password"
                    v-if="selectedCountry !== '' && areas.length > 2 "
                    v-model="selectedAra"
                    :items="areas"
                    item-text="name"
                    item-value="fullName"
                    id="fullName"
                    label="Area"
                    hide-details
                    single-line
                    dense
                    filled
                    rounded
                    style="margin-top: 10px "
            ></v-autocomplete>

        </v-list-item>
    </v-list>

</template>

<script>
    export default {
        name: "Zone",
        data() {
            return {
                selectedCountry: "",
                selectedAra: "",
                areas: [],
            }
        },
        computed: {
            zones() {
                return this.$store.state.zones
            },
            location() {
                return this.$store.state.location
            }
        },
        methods: {
            filterArea() {
                this.areas = this.zones.filter(zone => zone.isoCode === this.selectedCountry)[0].area
                this.selectedAra = this.areas[0].fullName
            },
            setCountry() {
                this.selectedCountry = this.location.geoplugin_countryCode
                this.filterArea()
            },
        },
        created() {
            this.$store.dispatch('loadLocation')
                .then(() => this.$store.dispatch('loadZones'))
                .then(() => this.setCountry())
        },
        watch: {
            selectedCountry() {
                this.filterArea()
            },
            selectedAra() {
                this.$store.dispatch('changeZone', this.selectedAra)
            }
        }
    }

</script>
