<template>
    <div class="check-lastfm-id"></div>
</template>
<script>

    import VueCookies from 'vue-cookies'
    import {mapActions} from 'vuex'

    export default {
        name: "CheckLastFMID",
        data: function () {
            return {
                cookieName: "lastfm_id"
            }
        },
        methods: {
            ...mapActions({
                saveLastFMID: 'saveLastFMID'
            }),
            checkCookie(name) {
                if (VueCookies.isKey(name)) this.saveLastFMID(VueCookies.get(name))
            }
        },
        mounted() {
            this.checkCookie(this.cookieName)
        }

    }
</script>

<style scoped>

</style>
