<template>
    <div class="lastfm-connect"
         @click="redirectAuthLastFM"
         v-show="!hasAllowedLastFM"
    >
        <img class="lastfm-logo" src="../../assets/lastfm.png" alt="lastfm" width="30px" height="30px">
        <span class="lastfm-text" style="color: white"> Connect to Last.fm </span>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex'

    export default {
        name: "ConnectLastFM",
        data() {
            return {
                hover: false,
                authorizationEndpoint: "https://www.last.fm/api/auth",
            }
        },
        methods: {
            redirectAuthLastFM() {
                window.location.href =
                    this.authorizationEndpoint +
                    "?api_key=" + this.$lastFMAPIKey
            }
        },
        computed: {
            ...mapGetters({
                hasAllowedLastFM: 'hasAllowedLastFM'
            })
        }
    }
    // TODO : Send notification that artists were scrapped / Add a router callback
</script>

<style scoped>

    .lastfm-connect {
        width: 200px;
        cursor: pointer;
        padding: 10px 0;
        text-align: center;
    }

    .lastfm-logo {
        display: inline-block;
        height: 100%;
        vertical-align: middle
    }

    .lastfm-text {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        padding-left: 5%;
    }

</style>



