<template>
    <v-snackbar
            v-model="notif"
            bottom
            color="success"
            timeout="4000"
    >

        <v-btn
                dark
                text
                @click="notif = false">
            {{msg}}
        </v-btn>
    </v-snackbar>

</template>

<script>

    import VueCookies from 'vue-cookies'
    import {mapActions} from 'vuex'

    export default {
        name: "SaveUserID",
        props: ['id'],
        data: function () {
            return {
                cookieName: "lastfm_id",
                notif: false,
                msg: ""
            }
        },
        methods: {
            ...mapActions({
                saveLastFMID: 'saveLastFMID',
                analyseLastFM: 'analyseLastFM'

            }),
            setCookie(id) {
                VueCookies.set(this.cookieName, id, "180d", "/", "residentmap.ml")
            },
            checkCookie(name) {
                if (VueCookies.isKey(name)) VueCookies.remove(name)
            }
        },
        mounted() {
            this.checkCookie(this.cookieName)
            this.setCookie(this.id)
            this.saveLastFMID(this.id)
            this.analyseLastFM()
                .then(({data}) => {
                    this.msg = "Added " + data.add + "artists to your recommendations"
                })

            this.$router.push('/')
        }

    }
</script>

<style scoped>

</style>
