<template>
    <v-app style="height: 100%">
        <Layout></Layout>
        <v-content style=" max-height: 100vh">
            <router-view></router-view>
        </v-content>
        <Spotify></Spotify>
        <Lastfm/>
    </v-app>
</template>

<script>

    import Layout from "./components/Layout";
    import Spotify from "./components/Spotify/CheckUserID";
    import Lastfm from "./components/LastFM/CheckUserID";
    import {mapActions} from 'vuex'


    export default {
        name: 'App',
        components: {
            Spotify,
            Lastfm,
            Layout,
        },
        methods: {
            ...mapActions(['loadEvents', 'loadLocation', 'geoToArea'])
        },
        mounted() {
            this.$vuetify.theme.dark = true
            this.loadLocation()
                .then(() => this.geoToArea())
        }
    };
</script>
<style>

</style>
