<template>

    <v-container fluid dense>
        <h2 style="text-transform: capitalize">{{ totalArtist }} artists soon playing in your area</h2>
        <v-row dense>
            <v-col v-for="(artist, index) in featureArtist" :key="artist.name" xs="6" sm="4" lg="3" xl="2">
                <v-lazy v-model="isIntersecting[index]"
                        transition="fade-transition"
                >
                    <v-card @click.native=modifyArtist(artist.name) hover ripple
                            :v-intersect="onIntersect(index)"
                            outlined
                            :style="artist.color"
                    >
                        <v-img :src="'https://img.residentmap.workers.dev/'  + artist.img"
                               class="white--text align-end"
                               gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                               eager
                               height="150px"
                        >
                            <v-card-text class="headline font-weight-bold" v-text="artist.name"></v-card-text>
                            <v-card-actions>
                                <v-list-item class="grow">
                                    <v-list-item-icon color="grey darken-3">
                                        <span v-if="artist.events === 1">{{artist.events}} event</span>
                                        <span v-else>{{artist.events}} events</span>
                                    </v-list-item-icon>
                                </v-list-item>
                            </v-card-actions>
                        </v-img>
                    </v-card>
                </v-lazy>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "FeatureArtist",
        data: () => {
            return {
                all: "border-color: green",
                spotify: "border-color: green",
                lastfm: "border-color: green",
            }
        },
        computed: {
            ...mapGetters(['featureArtist']),
            totalArtist() {
                if (this.featureArtist) return this.featureArtist.length
                return 0
            },
            isIntersecting() {
                // eslint-disable-next-line no-unused-vars
                if (this.featureArtist.length !== 0) return this.featureArtist.map(artist => false)
                return false
            }
        },
        methods: {
            ...mapActions(['loadFeatureArtist', 'loadLocation', 'geoToArea', 'modifyArtist']),
            onIntersect(index) {
                this.isIntersecting[index] = true
            }

        },
        watch: {
            getSelectedZone: {
                deep: true,
                handler() {
                    this.loadFeatureArtist()
                }
            }
        }
    }
</script>

<style scoped>

</style>
