<template>

    <div class="artist">


        <div class="head-artist">

            <v-card max-height="100px">
                <v-app-bar
                        dark
                        height="100px"
                >

                    <template v-slot:img="{ props }">
                        <v-img
                                v-bind="props"
                                :lazy-src="'https://img.residentmap.workers.dev/' + artistInfo.img "
                        ></v-img>
                    </template>

                    <v-btn @click="modifyArtist('')">
                        <v-icon>mdi-arrow-left</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>

                    <v-toolbar-title>{{artist}}</v-toolbar-title>

                    <v-spacer></v-spacer>

                </v-app-bar>
            </v-card>
        </div>
        <div class="details">


            <Map></Map>
            <List></List>

        </div>

    </div>


</template>

<script>
    import {mapGetters, mapActions} from 'vuex'

    import Map from './Map'
    import List from './List'

    export default {
        name: "FeatureArtist",
        components: {
            Map,
            List
        },
        computed: {
            ...mapGetters(['artistInfo', 'artist'])
        },
        methods: {
            ...mapActions(['loadArtistInfo', 'modifyArtist'])
        },
        watch: {
            artist: {
                deep: true,
                handler(name) {
                    this.loadArtistInfo(name)
                }
            }
        },
        mounted() {
            this.loadArtistInfo(this.artist)
        }
    }
</script>

<style scoped>

    .details {
        display: grid;
        grid-template-columns: 63% 36%;
        grid-column-gap: 10px;
        overflow: hidden;
        height: calc(100vh - 150px);

    }

</style>
