<template>
    <div class="overflow-y-auto" id="list">

        <div class="dates" v-for=" date in Object.keys(artistEventByDate)" :key="date">

            <h5>{{date}}</h5>

            <div class="list-events">
                <div v-for="(event, index) in artistEventByDate[date]" :key="event.name" :id="'event-' + index"
                     v-bind:class="[event.showDetails ? 'event-selected' : 'event']"
                >

                    <div class="summary" @click="!event.showDetails ? modifyArtistEvent(event.name) : null ">

                        <div class="flyer-container">
                            <img v-if="event.flyerPath"
                                 :src="'https://residentadvisor.net/' + event.flyerPath"
                                 alt="flyer" height="150%" width="100%"
                            >
                            <span v-else class="gradient"></span>
                        </div>

                        <div class="event-info" @click="!event.showDetails ? modifyArtistEvent(event.name) : null ">
                            <span class="event-name">{{event.name}}</span>
                            <span v-if="event.venueName">@ {{event.venueName}}</span>
                            <span v-else>@ TBA</span>
                            <div v-if="!event.showDetails">
                                <span v-if="event.area.split(' - ')[1] === 'All'">{{event.area.split(' - ')[0]}}</span>
                                <span v-else>{{event.area}}</span>
                            </div>

                        </div>


                    </div>

                    <div v-if="event.showDetails" class="event-details">
                        <div class="time">
                            <span>{{event.dateStart.split(" ")[1].split(':')[0] }}:{{event.dateStart.split(" ")[1].split(':')[1]}}</span>
                            -
                            <span>{{event.dateEnd.split(" ")[1].split(':')[0] }}:{{event.dateEnd.split(" ")[1].split(':')[1]}}</span>
                        </div>
                        <div class="location">
                            <span>{{event.address}}</span>
                        </div>

                        <div class="close-details" style="text-align: center; cursor: pointer"
                             @click="hideArtistDetails()">
                            <i class="arrow up"> </i>
                        </div>

                    </div>

                </div>

            </div>
        </div>


    </div>

</template>

<script>

    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "",
        components: {},
        data() {
            return {
                element: "",
                containerName: "list",
            }
        },
        computed: {
            ...mapGetters(['artistEventByDate']),

        },
        methods: {
            ...mapActions(['modifyArtistEvent', 'hideArtistDetails']),
            scrollToElement(element) {
                this.$vuetify.goTo(document.getElementById(element), {container: document.getElementById(this.containerName)})
            },
        },
        watch: {
            eventLastSelected: {
                deep: true,
                handler(selectedEvent) {
                    this.element = 'event-' + this.events.findIndex(event => event.name === selectedEvent.name)
                    this.scrollToElement(this.element)

                }
            }
        }
    }
</script>

<style scoped>

    .dates {
        overflow-y: scroll;
    }

    .list-events .event {
        background: #414144;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        color: white;
    }

    .list-events .event-selected {
        background: #414144;
        border-radius: 5px;
        margin-bottom: 10px;
        color: white;
        border: 2px solid chartreuse;
    }

    .list-events .event .summary {
        display: grid;
        grid-template-columns: 100px minmax(120px, auto);
        grid-column-gap: 10px;
    }

    .list-events .event-selected .summary {
        display: grid;
        grid-template-rows: 200px minmax(80px, auto);
        grid-column-gap: 10px;
    }


    .list-events .event .summary .flyer-container {
        overflow: hidden;
        border-radius: 5px 0 0 5px;
    }

    .list-events .event-selected .summary .flyer-container {
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    .list-events .summary .flyer-container img {
        vertical-align: top;
        object-fit: cover;
        max-height: -webkit-fill-available;
    }

    .list-events .summary .flyer-container .gradient {
        height: 100%;
        width: 100%;
        display: inline-block;
        background-image: linear-gradient(to top, #212223, #1c1d1e, #171818, #121312, #0c0c0a);
    }

    .list-events .event .summary .event-info {
        display: grid;
        font-size: 16px;
    }

    .list-events .event-selected .summary .event-info {
        padding: 0 5px 0 5px;
        display: grid;
        font-size: 16px;
    }

    .summary .event-info .event-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .summary .event-info .artists {
        table-layout: fixed;
        overflow-wrap: break-word;
        margin-bottom: 4px;
    }

    .summary .event-info .participants {
        color: #9c7805;
        display: inline-block;
        margin-left: auto;
    }

    .list-events .event-selected .event-details {
        padding: 0 5px 0 5px;
    }


    i {
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

</style>

