<template>


    <div class="map" v-show="artistEventFilterCoordinates">
        <MglMap :accessToken="this.$mapboxToken"
                :mapStyle.sync="this.$mapboxStyle"
                @load="onMapLoaded"
        >

            <MglGeojsonLayer sourceId="travel" :source.sync="routes" layerId="linesLayer"
                             :layer.sync="layer"></MglGeojsonLayer>

            <MglMarker v-for="event in artistEventFilterCoordinates" :key="event.name"
                       :coordinates="[event.lon, event.lat]">
                <div class="marker" slot="marker">

                    <div v-if="event.showDetails" class="event-hover">
                        <img v-if="event.flyerPath" :src="'https://img.residentmap.workers.dev/' +event.flyerPath"
                             alt="event" height="40px" width="40px"
                             style="border-radius: 2px; border: 2px solid chartreuse">
                        <span v-else class="gradient" style="border-radius: 2px; border: 2px solid chartreuse"></span>
                    </div>

                    <div v-if="!event.showDetails" class="event" @click="modifyArtistEvent(event.name)">
                        <img v-if="event.flyerPath" :src="'https://img.residentmap.workers.dev/' + event.flyerPath"
                             alt="event" height="40px" width="40px"
                             style="border-radius: 2px">
                        <span v-else class="gradient"></span>
                    </div>

                </div>

            </MglMarker>
            <MglScaleControl position="bottom-left"/>
            <MglNavigationControl position="top-left"/>
            <MglGeolocateControl position="top-left"/>

        </MglMap>


    </div>


</template>

<script>
    import {
        MglMap,
        MglMarker,
        MglNavigationControl,
        MglGeolocateControl,
        MglScaleControl,
        MglGeojsonLayer
    } from "vue-mapbox";
    import {mapGetters, mapActions} from 'vuex'

    export default {
        components: {
            MglMap,
            MglMarker,
            MglNavigationControl,
            MglGeolocateControl,
            MglScaleControl,
            MglGeojsonLayer
        },
        data() {
            return {
                map: null,
                actions: null,
                layer: {
                    id: 'route',
                    type: 'line',
                    source: "travel",
                    paint: {
                        "line-width": 4,
                        'line-color': '#007cbf'
                    },
                }
            }
        },
        computed: {
            ...mapGetters(['artistEventFilterCoordinates', 'artistEventSelected', 'artistEventLastSelected']),
            routes() {
                if (!this.artistEventFilterCoordinates) return
                return {
                    type: "geojson",
                    data: {
                        'type': 'FeatureCollection',
                        'features': this.artistEventFilterCoordinates.map((event, i, events) => {
                            if (events.length - 1 === i) return {}
                            return {
                                'type': 'Feature',
                                'geometry': {
                                    'type': 'LineString',
                                    coordinates: [
                                        [event.lon, event.lat],
                                        [
                                            events[i + 1]['lon'], events[i + 1]['lat']
                                        ]
                                    ]
                                }
                            }
                        })
                    }
                }

            }
        },
        methods: {
            ...mapActions(['modifyArtistEvent']),
            onMapLoaded(evt) {
                this.actions = evt.component.actions
            },
            moveToBound(events) {
                if (events.length === 0 || !this.actions) return
                let coordinates = (events.length === 1) ? [[events[0].lon, events[0].lat], [events[0].lon, events[0].lat]] : events.map(event => [event.lon, event.lat])
                this.actions.fitBounds(coordinates, {padding: 200, maxZoom: 0, duration: 500})
            },
        },
        watch: {
            artistEventLastSelected: {
                deep: true,
                handler(event) {
                    if (event.lat === null) return
                    if (event.showDetails) this.actions.fitBounds([[event.lon, event.lat], [event.lon, event.lat]], {
                        duration: 400,
                        maxZoom: 6
                    })
                        .then(() => {
                            this.actions.flyTo({
                                center: [event.lon, event.lat],
                                zoom: 6,
                                speed: 4
                            })
                        })
                }
            },
            artistEventFilterCoordinates: {
                deep: true,
                handler(events) {
                    this.moveToBound(events)
                }
            }
        },
    }

</script>

<style>
    @import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css");

    .gradient {
        height: 40px;
        width: 40px;
        display: inline-block;
        background-image: linear-gradient(to top, #212223, #1c1d1e, #171818, #121312, #0c0c0a);
    }

</style>
