<template>
    <div class="check-user-id"></div>
</template>
<script>

    import VueCookies from 'vue-cookies'
    import { mapActions} from 'vuex'

    export default {
        name: "CheckUserID",
        data: function () {
            return {
                cookieName: "spotify_id"
            }
        },
        methods: {
            ...mapActions({
                saveSpotifyID: 'saveSpotifyID'
            }),
            checkCookie(name) {
                if (VueCookies.isKey(name)) this.saveSpotifyID(VueCookies.get(name))
            }
        },
        mounted() {
            this.checkCookie(this.cookieName)

        }

    }
</script>

<style scoped>

</style>