<template>
    <div class="spotify-connect"
         @click="redirectAuthSpotify"
         @mouseover="hover = true"
         @mouseleave="hover = false"
         v-show="!hasAllowedSpotify"
    >
        <img class="spotify-logo" src="../../assets/spotify.png" alt="spotify" width="30px" height="30px" >
        <span class="spotify-text" style="color: white"> Connect to Spotify </span>
    </div>
</template>

<script>

    import {mapGetters } from 'vuex'

export default {
    name: "ConnectSpotify",
    data() {
        return {
            hover: false,
            authorizationEndpoint: "https://accounts.spotify.com/authorize",
            clientID: "bd9a61d05b2c43c780b435a7dee2e51e",
            scope: [
                "user-read-email",
                "user-library-read",
                "playlist-read-private",
                "user-top-read"
            ].join('%20'),
            dialog: "show_dialog=true",
         }
    },
    methods: {
        redirectAuthSpotify () {
            window.location.href =
                this.authorizationEndpoint +
                "?client_id=" + this.$spotifyClientID +
                "&response_type=code" +
                "&redirect_uri=" + this.$spotifyRedirectCallback +
                "&scope=" + this.scope +
                "&show_dialog=true"
        }
    },
    computed: {
        ...mapGetters({
            hasAllowedSpotify: 'hasAllowedSpotify'
        })
    }
}
// TODO : Send notification that artists were scrapped / Add a router callback
</script>

<style scoped>

.spotify-connect {
    width: 200px;
    cursor: pointer;
    padding: 10px 0;
    text-align: center;
}

.spotify-logo {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.spotify-text {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    padding-left: 5%;
}

</style>
