<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <template v-slot:activator="{ on }">
                <v-btn icon  v-on="on">
                    <v-icon color="grey lighten-1">mdi-settings</v-icon>
                </v-btn>
            </template>
            <v-card>
                <v-toolbar dark color="#20d760">
                    <v-btn icon dark @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Spotify</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-list three-line subheader>
                    <v-subheader>User Controls</v-subheader>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Number of artists that matched events</v-list-item-title>
                            <v-list-item-subtitle>{{spotifyArtistCount}}</v-list-item-subtitle>
                        </v-list-item-content>
                    </v-list-item>
                   <!-- <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Synchronise</v-list-item-title>
                            <v-list-item-subtitle>
                                <v-btn @click="syncLastFM">
                                    <v-icon color="grey lighten-1">mdi-sync</v-icon>
                                </v-btn>
                            </v-list-item-subtitle>
                        </v-list-item-content>

                    </v-list-item>-->
                </v-list>

            </v-card>
            <v-snackbar
                        v-model="notif"
                        bottom
                        color="success"
                        :timeout=4000
            ></v-snackbar>
        </v-dialog>
    </v-row>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'

    export default {
        name: "InfoSpotify",
        data: function () {
            return {
                dialog: false,
                sync: false,
                msg: "",
                notif: false
            }
        },
        computed: {
            ...mapGetters(['spotifyArtistCount']),
        },
        methods: {
            ...mapActions(['loadSpotifyCount', 'analyseSpotify']),
            syncLastFM(){
                this.analyseSpotify()
                    .then(({data}) => {
                        this.msg = "Added " + data.add + "artists to your recommendations"
                        this.notif = true
                        this.loadSpotifyCount()
                    })
            }
        },
        mounted() {
            this.loadSpotifyCount()
        }

    }
</script>

<style scoped>

</style>