<template>
    <div class="test">
        <CheckUserID></CheckUserID>
        <div class="artist">
            <h1> Found {{count}} artists have events in your saved tracks</h1>
        </div>

        <div class="add-playlist">
            <h1> Add playlist</h1>


            <div class="created-playlists-container">
                <h2>Your playlists</h2>
                <div class="created-playlists">
                    <div class="created-playlist" v-for="playlist in createdPlaylist" :key="playlist.id">
                        <div class="img">
                            <img :src="playlist.images[0].url" alt="playlist-img" height="120px">
                        </div>
                        <div class="name">
                            <span>{{playlist.name}}</span>
                        </div>

                    </div>
                </div>
            </div>


            <div class="subscribed-playlists-container">
                <h2>Subscribed playlists</h2>
                <div class="subscribed-playlists">
                    <div class="subscribed-playlist" v-for="playlist in subscribedPlaylist" :key="playlist.id">
                        <div class="img">
                            <img :src="playlist.images[0].url" alt="playlist-img" height="120px">
                        </div>
                        <div class="name">
                            <span>{{playlist.name}}</span>
                        </div>
                    </div>
                </div>
            </div>



        </div>



    </div>
</template>

<script>
    import CheckUserID from "./CheckUserID";
    export default {
        name: "Manage",
        components: {
            CheckUserID
        },
        computed: {
            artists() {
                return this.$store.getters.getSpotifyMatchedArtists
            },
            count(){
                return this.$store.getters.getSpotifyMatchedArtistsCount
            },
            createdPlaylist(){
                return this.$store.getters.getSpotifyCreatedPlaylists
            },
            subscribedPlaylist(){
                return this.$store.getters.getSpotifySubscribePlaylists
            }
        },
        methods: {
        },
        mounted() {
            this.$store.dispatch('loadSpotifyMatchedArtists')
            this.$store.dispatch('loadSpotifyPlaylist')
        }
    }

</script>

<style scoped>
    .test {
        color: white;
    }

    .created-playlists {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
        grid-row-gap: 40px;
    }


    .subscribed-playlists {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
        grid-row-gap: 40px;
    }


</style>