<template>
    <div class="spotify-manage"
         @click="redirectSpotifyManage"
         @mouseover="hover = true"
         @mouseleave="hover = false"
         v-show="hasAllowedSpotify"
    >
        <img class="spotify-logo" src="../../assets/spotify.png" alt="spotify" width="30px" height="30px" >
        <span class="spotify-text" style="color: white"> Spotify Settings </span>
    </div>
</template>

<script>

    import {mapGetters } from 'vuex'

    export default {
        name: "ManageButton",
        methods: {
            redirectSpotifyManage () {
                this.$router.push('spotify/manage')
            }
        },
        computed: {
            ...mapGetters({
                hasAllowedSpotify: 'hasAllowedSpotify'
            })
        }
    }
</script>

<style scoped>

    .spotify-manage {
        width: 180px;
        cursor: pointer;
        padding: 10px 0;
        text-align: center;
    }

    .spotify-logo {
        display: inline-block;
        height: 100%;
        vertical-align: middle
    }

    .spotify-text {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        padding-left: 5%;
    }

</style>
