<template>
    <div class="overflow-y-auto" id="list">
        <div class="list-events">
            <div v-for="(event, index) in this.events" :key="event.name" :id="'event-' + index"
                 v-bind:class="[event.showDetails ? 'event-selected' : 'event']"
            >

                <div class="summary" @click="!event.showDetails ? eventShowDetails(event.name) : null ">

                    <div class="flyer-container">
                        <img v-if="event.flyerPath"
                             :src="'https://img.residentmap.workers.dev/' + event.flyerPath"
                             alt="flyer" height="150%" width="100%"
                        >
                        <span v-else class="gradient"></span>
                    </div>

                    <div class="event-info" @click="!event.showDetails ? eventShowDetails(event.name) : null ">
                        <span class="event-name">{{event.name}}</span>
                        <span v-if="event.venueName">@ {{event.venueName}}</span>
                        <span v-else>TBA</span>
                        <div class="artists">
                            <div v-show="event.lasfmArtist.length > 0"
                                 v-for="artist in event.lasfmArtist"
                                 :key="artist.name"
                                 class="lastfm-artist">
                                <span>{{ artist }}</span>
                            </div>
                            <div v-show="event.spotifyArtist.length > 0"
                                 v-for="artist in event.spotifyArtist"
                                 :key="artist.name"
                                 class="spotify-artist">
                                <span>{{ artist }}</span>
                            </div>
                            <div v-show="event.otherArtist.length > 0"
                                 v-for="artist in event.otherArtist"
                                 :key="artist.name"
                                 class="regular-artist">
                                <span>{{ artist }}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-if="event.showDetails" class="event-details">
                    <div class="time">
                        <span>{{event.dateStart.split(" ")[1].split(':')[0] }}:{{event.dateStart.split(" ")[1].split(':')[1]}}</span>
                        -
                        <span>{{event.dateEnd.split(" ")[1].split(':')[0] }}:{{event.dateEnd.split(" ")[1].split(':')[1]}}</span>
                    </div>
                    <div class="location">
                        <span>{{event.address}}</span>
                    </div>

                    <div class="close-details" style="text-align: center; cursor: pointer"
                         @click="eventHideDetails(event.name)">
                        <i class="arrow up"> </i>
                    </div>

                </div>

            </div>

        </div>

    </div>

</template>

<script>

    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "",
        components: {},
        data() {
            return {
                element: "",
                containerName: "list",
            }
        },
        computed: {
            ...mapGetters({
                events: 'getEventsOnDate',
                selectedZone: 'getSelectedZone',
                eventLastSelected: 'getEventLastSelected',
            }),

        },
        methods: {
            ...mapActions({
                eventShowDetails: 'eventShowDetails',
                eventHideDetails: 'eventHideDetails',
            }),
            scrollToElement(element) {
                this.$vuetify.goTo(document.getElementById(element), {container: document.getElementById(this.containerName)})
            },
        },
        watch: {
            eventLastSelected: {
                deep: true,
                handler(selectedEvent) {
                    this.element = 'event-' + this.events.findIndex(event => event.name === selectedEvent.name)
                    this.scrollToElement(this.element)

                }
            }
        }
    }
</script>

<style scoped>

    .list-events {
        overflow-y: auto
    }

    .list-events .event {
        background: #414144;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        color: white;
    }

    .list-events .event-selected {
        background: #414144;
        border-radius: 5px;
        margin-bottom: 10px;
        color: white;
        border: 2px solid chartreuse;
    }

    .list-events .event .summary {
        display: grid;
        grid-template-columns: 100px minmax(120px, auto);
        grid-column-gap: 10px;
    }

    .list-events .event-selected .summary {
        display: grid;
        grid-template-rows: 200px minmax(80px, auto);
        grid-column-gap: 10px;
    }


    .list-events .event .summary .flyer-container {
        overflow: hidden;
        border-radius: 5px 0 0 5px;
    }

    .list-events .event-selected .summary .flyer-container {
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    .list-events .summary .flyer-container img {
        vertical-align: top;
        object-fit: cover;
        max-height: -webkit-fill-available;
    }

    .list-events .summary .flyer-container .gradient {
        height: 100%;
        width: 100%;
        display: inline-block;
        background-image: linear-gradient(to top, #212223, #1c1d1e, #171818, #121312, #0c0c0a);
    }

    .list-events .event .summary .event-info {
        display: grid;
        font-size: 16px;
    }

    .list-events .event-selected .summary .event-info {
        padding: 0 5px 0 5px;
        display: grid;
        font-size: 16px;
    }

    .summary .event-info .event-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .summary .event-info .artists {
        table-layout: fixed;
        overflow-wrap: break-word;
        margin-bottom: 4px;
    }

    .summary .event-info .artists .lastfm-artist {
        display: inline-block;
        text-transform: uppercase;
        width: fit-content;
        margin-right: 10px;
        font-size: 10px;
        font-weight: bold;
        background: #b11400;
        border-radius: 10px;
        padding: 0.10rem 0.6rem;
        white-space: nowrap;
        color: #ffffff;
    }

    .summary .event-info .artists .spotify-artist {
        display: inline-block;
        text-transform: uppercase;
        width: fit-content;
        margin-right: 10px;
        font-size: 10px;
        font-weight: bold;
        background: #28bd3c;
        border-radius: 10px;
        padding: 0.10rem 0.6rem;
        white-space: nowrap;
        color: #ffffff;
    }

    .summary .event-info .artists .regular-artist {
        display: inline-block;
        text-transform: uppercase;
        width: fit-content;
        margin-right: 10px;
        font-size: 10px;
        font-weight: bold;
        background: #7485c2;
        border-radius: 10px;
        padding: 0.10rem 0.6rem;
        white-space: nowrap;
        color: #ffffff;
    }

    .summary .event-info .participants {
        color: #9c7805;
        display: inline-block;
        margin-left: auto;
    }

    .list-events .event-selected .event-details {
        padding: 0 5px 0 5px;
    }


    i {
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

</style>

