<template>


    <MglMap :accessToken="this.$mapboxToken"
            :mapStyle.sync="this.$mapboxStyle"
            @load="onMapLoaded"
    >

        <MglMarker v-for="event in events" :key="event.name" :coordinates="[event.lon, event.lat]">
            <div class="marker" slot="marker">

                <div v-if="event.showDetails" class="event-hover">
                    <img v-if="event.flyerPath" :src="'https://img.residentmap.workers.dev/' +event.flyerPath"
                         alt="event" height="40px" width="40px"
                         style="border-radius: 2px; border: 2px solid chartreuse">
                    <span v-else class="gradient" style="border-radius: 2px; border: 2px solid chartreuse"></span>
                </div>

                <div v-if="!event.showDetails" class="event" @click="eventShowDetails(event.name)">
                    <img v-if="event.flyerPath" :src="'https://img.residentmap.workers.dev/' + event.flyerPath"
                         alt="event" height="40px" width="40px"
                         style="border-radius: 2px">
                    <span v-else class="gradient"></span>
                </div>

            </div>

        </MglMarker>
        <MglScaleControl position="bottom-left"/>
        <MglNavigationControl position="top-left"/>
        <MglGeolocateControl position="top-left"/>

    </MglMap>


</template>

<script>
    import {MglMap, MglMarker, MglNavigationControl, MglGeolocateControl, MglScaleControl} from "vue-mapbox";
    import {mapGetters, mapActions} from 'vuex'

    export default {
        components: {
            MglMap,
            MglMarker,
            MglNavigationControl,
            MglGeolocateControl,
            MglScaleControl
        },
        data() {
            return {
                map: null,
                actions: null,
                loading: true,
                eventsPreviousState: "",
            }
        },
        computed: {
            ...mapGetters({
                events: 'getEventsFilterCoordinates',
                selectedZone: 'getSelectedZone',
                eventLastSelected: 'getEventLastSelected'
            })
        },
        methods: {
            ...mapActions({
                eventShowDetails: 'eventShowDetails',
            }),
            onMapLoaded(evt) {
                this.actions = evt.component.actions
                this.moveToBound(this.events)

            },
            moveToBound(events) {
                if (events.length === 0 || !this.actions) return
                let coordinates = (events.length === 1) ? [[events[0].lon, events[0].lat], [events[0].lon, events[0].lat]] : events.map(event => [event.lon, event.lat])
                this.actions.fitBounds(coordinates, {padding: 200, maxZoom: 10, duration: 500})
            }
        },
        watch: {
            eventLastSelected: {
                deep: true,
                handler(event) {
                    if (event.lat === null) return
                    if (event.showDetails) this.actions.fitBounds([[event.lon, event.lat], [event.lon, event.lat]], {
                        duration: 400,
                        maxZoom: 13
                    })
                        .then(() => {
                            this.actions.flyTo({
                                center: [event.lon, event.lat],
                                zoom: 13,
                                speed: 4
                            })
                        })
                }
            },
            events: {
                deep: true,
                handler(events) {
                    this.moveToBound(events)
                }
            }
        }
    };

</script>

<style>
    @import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css");

    .gradient {
        height: 40px;
        width: 40px;
        display: inline-block;
        background-image: linear-gradient(to top, #212223, #1c1d1e, #171818, #121312, #0c0c0a);
    }

</style>
