<template>
    <div class="custom-laout">
        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
                :width="200"
        >
            <v-list dense>
                <v-list-item
                        v-for="item in menu"
                        :key="item.text"
                        link
                        @click="$router.push(item.route)"
                >
                    <v-list-item-action>
                        <v-icon color="grey darken-1">{{ item.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{ item.text }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-subheader class="mt-4 grey--text text--darken-1">LOCATION</v-subheader>


                <Zone></Zone>


                <v-subheader class="mt-4 grey--text text--darken-1">RECOMMENDATIONS</v-subheader>
                <v-list>
                    <v-list-item>

                        <v-list-item-avatar>
                            <v-icon size="35" color="#20d760">mdi-spotify</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title>Spotify</v-list-item-title>
                        </v-list-item-content>


                        <v-list-item-action style="display: contents">


                            <v-btn icon v-show="!hasAllowedSpotify" @click="redirectAuthSpotify">
                                <v-icon color="grey lighten-1">mdi-login</v-icon>
                            </v-btn>

                            <SpotifyInfo v-if="hasAllowedSpotify"></SpotifyInfo>


                        </v-list-item-action>
                    </v-list-item>
                </v-list>
                <v-list>

                    <v-list-item>

                        <v-list-item-avatar>
                            <v-icon size="35" color="#e41c24">mdi-lastfm</v-icon>
                        </v-list-item-avatar>

                        <v-list-item-content>
                            <v-list-item-title>Last.fm</v-list-item-title>
                        </v-list-item-content>


                        <v-list-item-action style="display: contents">


                            <v-btn icon v-show="!hasAllowedLastFM" @click="redirectAuthLastFM">
                                <v-icon color="grey lighten-1">mdi-login</v-icon>
                            </v-btn>

                            <LastFMInfo v-if="hasAllowedLastFM"></LastFMInfo>


                        </v-list-item-action>
                    </v-list-item>

                </v-list>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                clipped-left
                color="grey darken-4"
                dense

        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>


            <v-toolbar-title class="mr-12 align-center">
                <img src="../assets/residentmap.png" alt="logo" height="30px" style="display: block"/>
            </v-toolbar-title>


            <v-spacer/>


            <v-autocomplete
                    :items="this.searchResult"
                    :loading="opts.isLoading"
                    :search-input.sync="search"
                    item-text="name"
                    item-value="name"
                    hide-no-data
                    append-icon=""
                    placeholder="Search events and artists worldwide"
                    clearable
                    hide-details
                    single-line
                    dense
                    return-object
                    v-model="searchSelect"
            >
                <template v-slot:item="data">
                    <v-list-item-avatar>
                        <v-icon v-if="data.item.type === 'artist'">mdi-artist</v-icon>
                        <v-icon v-else>mdi-party-popper</v-icon>
                    </v-list-item-avatar>
                    <v-list-item-content style="display: inline">
                        <v-list-item-title v-html="data.item.name">
                        </v-list-item-title>
                    </v-list-item-content>
                    <v-chip v-if="data.item.date !== null">{{data.item.date.format('DD MMM YY')}}</v-chip>
                    <v-chip v-if="data.item.area !== null">{{data.item.area}}</v-chip>
                </template>
            </v-autocomplete>
            <v-spacer/>
            <v-spacer/>

        </v-app-bar>


    </div>

</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    import Zone from "./Events/Controls/Zone";
    import LastFMInfo from "./LastFM/Info"
    import SpotifyInfo from "./Spotify/Info"

    export default {
        props: {
            source: String,
        },
        components: {
            Zone,
            LastFMInfo,
            SpotifyInfo
        },
        data: () => ({
            drawer: null,
            menu: [
                {icon: 'mdi-party-popper', text: 'Events', route: "/"},
                {icon: 'mdi-artist', text: 'Artists', route: "/artists"},
            ],
            spotify: {
                scope: [
                    "user-read-email",
                    "user-library-read",
                    "playlist-read-private",
                    "user-top-read"
                ].join('%20'),
            },
            search: "",
            searchSelect: {},
            opts: {
                value: null,
                descriptionLimit: 60,
                entries: [],
                isLoading: false,
                model: null,
            }
        }),
        methods: {
            redirectAuthSpotify() {
                window.location.href =
                    "https://accounts.spotify.com/authorize" +
                    "?client_id=" + this.$spotifyClientID +
                    "&response_type=code" +
                    "&redirect_uri=" + this.$spotifyRedirectCallback +
                    "&scope=" + this.spotify.scope +
                    "&show_dialog=true"
            },
            redirectAuthLastFM() {
                window.location.href =
                    "https://www.last.fm/api/auth" +
                    "?api_key=" + this.$lastFMAPIKey
            },
            ...mapActions({
                getEvents: 'loadEvents',
                searchText: 'searchText',
                modifyArtist: 'modifyArtist',
                changeZone: 'changeZone',
                eventShowDetails: 'eventShowDetails',
                modifyDate: 'modifyDate',
                modifyLastMonday: 'modifyLastMonday',
                loadEvents: 'loadEvents'
            }),

        },
        computed: {
            ...mapGetters({
                hasAllowedSpotify: 'hasAllowedSpotify',
                hasAllowedLastFM: 'hasAllowedLastFM',
                searchResult: 'getSearchResult',

            }),
        },
        watch: {
            search(val) {
                // eslint-disable-next-line no-console
                if (val === null || val === '') return
                this.opts.isLoading = true
                this.searchText(val)
                // eslint-disable-next-line no-unused-vars
                    .then(r => {
                        this.opts.isLoading = false
                    })
            },
            searchSelect(val) {
                if (!val) return
                let currentRoute = this.$router.history.current.name
                if (val.type === 'artist') {
                    this.modifyArtist(val.name)
                    if (currentRoute !== 'artists') this.$router.push('artists')
                } else {
                    Promise.all([this.changeZone(val.area), this.modifyDate(val.date), this.modifyLastMonday(val.date.startOf('isoWeek'))])
                        .then(() => this.loadEvents())
                        .then(() => this.eventShowDetails(val.name))
                    if (currentRoute !== 'events') this.$router.push('events')
                }
            }
        }
    }
</script>

<style scoped>

    .v-chip {
        font-size: 14px;
        height: 24px;
        margin-left: 5px;
    }
</style>
