<template>
    <div class="artist-main">
        <keep-alive>
            <Feature v-if="artist === ''"/>
            <Info v-if="artist !== ''  && artistEventFilterCoordinates"/>
        </keep-alive>
    </div>
</template>

<script>

    import Feature from "../components/Artist/Feature"
    import Info from "../components/Artist/Info"

    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "Artist",
        components: {
            Feature,
            Info
        },
        computed: {
            ...mapGetters(['getSelectedZone', 'artist', 'artistEventFilterCoordinates'])
        },
        methods: {
            ...mapActions(['loadFeatureArtist', 'loadLocation', 'geoToArea', 'loadArtistInfo'])
        },
        watch: {
            getSelectedZone: {
                deep: true,
                handler() {
                    this.loadFeatureArtist()
                }
            },
            artist: {
                deep: true,
                handler(name) {
                    this.loadArtistInfo(name)
                }
            }
        },
        mounted() {
            if (this.artist !== '') this.loadArtistInfo(this.artist)
            this.loadFeatureArtist()

        }
    }
</script>

<style scoped>

</style>
