<template>

    <div class="event-view">

        <Date></Date>

        <div class="event-content">
            <Map/>
            <List style="margin-top: 10px ;"/>

        </div>
    </div>


    <!-- TODO: Add mobile compatibility
        <v-container fluid >
            <v-col col="12" >
                <Date></Date>
            </v-col>

            <v-row no-gutters fluid >

                <v-col xs="12" md="8" fluid fill-height>
                    <Map style="height: calc(100vh - 110px);"></Map>
                </v-col>

                <v-col xs="12" md="4" fluid fill-height>
                    <List></List>
                </v-col>

            </v-row>

        </v-container>-->

</template>

<script>
    import Map from '../components/Events/Map'
    import List from "../components/Events/List"
    import Date from "../components/Events/Controls/Date";
    import {mapGetters, mapActions} from 'vuex'

    export default {
        name: "Event",
        components: {
            List,
            Map,
            Date
        },
        computed: {
            ...mapGetters(['getPrevMonday', 'getSelectedZone'])
        },
        methods: {
            ...mapActions(['loadEvents', 'loadLocation', 'geoToArea'])
        },
        watch: {
            getPrevMonday: {
                deep: true,
                handler() {
                    this.loadEvents()
                }
            },
            getSelectedZone: {
                deep: true,
                handler() {
                    this.loadEvents()
                }
            }
        },
        mounted() {
            this.loadEvents()
        }
    }
</script>
<style scoped>

    .event-content {
        display: grid;
        grid-template-columns: 63% 36%;
        grid-column-gap: 10px;
        overflow: hidden;
        height: calc(100vh - 110px);

    }

    .event-view {
        height: 100%;
    }


</style>
