<template>
    <div class="manage-spotify">
        <Manage></Manage>
    </div>
</template>

<script>

    import Manage from "@/components/Spotify/Manage";

    export default {
        name: "Spotify",
        components: {
            Manage
        }
    }
</script>
