<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Personalized electronic music event recommendation ">
    <meta name="keywords" content="residentadvisor, resident, techno, event, electronic, music, lasftm, spotify, map, mapbox, residentmap">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Resident Map</title>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  </head>
  <body style="background: #303030">
    <noscript>
      <strong>We're sorry but resident-map doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
